//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 11 20:02:29 2017
//! **************************************************************************

SCHEMATIC START;
COMP "BOV" LOCATE = SITE "U17" LEVEL 1;
COMP "BN" LOCATE = SITE "V17" LEVEL 1;
COMP "A<0>" LOCATE = SITE "J15" LEVEL 1;
COMP "A<1>" LOCATE = SITE "L16" LEVEL 1;
COMP "A<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "A<3>" LOCATE = SITE "R15" LEVEL 1;
COMP "B<0>" LOCATE = SITE "R17" LEVEL 1;
COMP "B<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "BZ" LOCATE = SITE "U16" LEVEL 1;
COMP "B<2>" LOCATE = SITE "U18" LEVEL 1;
COMP "B<3>" LOCATE = SITE "R13" LEVEL 1;
COMP "BINVERT" LOCATE = SITE "T8" LEVEL 1;
COMP "RES<0>" LOCATE = SITE "H17" LEVEL 1;
COMP "RES<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "RES<2>" LOCATE = SITE "J13" LEVEL 1;
COMP "RES<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "AINVERT" LOCATE = SITE "U8" LEVEL 1;
COMP "OP<0>" LOCATE = SITE "R16" LEVEL 1;
COMP "OP<1>" LOCATE = SITE "H6" LEVEL 1;
COMP "BC" LOCATE = SITE "R18" LEVEL 1;
SCHEMATIC END;

